<h1>Projects List</h1>
<ul>
  <% @projects.each do |project| %>
  <li><%= link_to project.title, project_url(project) %></li>
  <% end %>
</ul>
<%= link_to "Create A New Project", new_project_url %><br />
<%= link_to "Create A New Item", new_item_url %><br />
<div>
  <%= link_to "All Items To Do", items_url %> <br />
<div>